ConsoleCllient/Service References/BookServiceRef/wcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:9658/BookService/wcf?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfModel" />
  <xs:element name="GetBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfModel" minOccurs="0" name="books" nillable="true" type="q1:Books" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delBookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfModel" minOccurs="0" name="books" nillable="true" type="q2:Books" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editBookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calculate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calculateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>