ConsoleCllient/Service References/BookServiceRef/wcf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Books">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Clicks" type="xs:int" />
      <xs:element minOccurs="0" name="ContentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PublishDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PublisherId" type="xs:int" />
      <xs:element minOccurs="0" name="TOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Books" nillable="true" type="tns:Books" />
</xs:schema>